{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head><meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"><title>MegaVita</title>
    <meta name="robots" content="noindex, nofollow"><meta content="" name="description"><meta content="" name="keywords">
    <link href="assets/img/favicon.png" rel="icon"><link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" rel="stylesheet">
    <link href="{% static 'css/variables.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
      <style>
      .gray-row {
          background-color: #f2f2f2; /* Szary kolor */
      }
    </style>
  </head>
  <body>
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
      <div class="container d-flex align-items-center justify-content-between"> 
        <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
          <img src="{% static 'image/vita.png' %}" /> </a>
          <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">O nas</a></li>
                <li><a class="nav-link scrollto" href="news">Aktualności</a></li>
                <li class="dropdown"><a href="#"><span>Gabinet lekarski</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>

                    <ul>
                        <li><a href="upcoming_appointments" style="color: #fff;background: #32B0C7;" >Najbliższe terminy wizyt</a></li>
                       <li><a href="#">Terapia manualna</a></li>
                      <li><a href="#">Ziołolecznictwo</a></li>
                      <li><a href="#">Akupunktura</a></li>
                      <li><a href="#">Badanie irydologiczne</a></li>
                    </ul>
                   <li class="dropdown"><a href="#"><span>Gabinet rehabilitacji</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                       <ul>
                           <li><a href="upcoming_appointments" style="color: #fff;background: #32B0C7;" >Najbliższe terminy wizyt</a></li>
                          <li class="dropdown"><a href="#"><span>Fizykoterapia</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                              <ul>
                                <li><a href="#">Elektrolecznictwo</a></li>
                                <li><a href="#">Ultradźwięki</a></li>
                                <li><a href="#">Laseroterapia</a></li>
                                <li><a href="#">Krioterapia</a></li>
                                <li><a href="#">Magnetoterapia</a></li>
                                <li><a href="#">Światłolecznictwo</a></li>
                              </ul>
                          <li><a href="#">Masaże</a></li>
                          <li><a href="#">Kinezyterapia</a></li>
                        </ul>
                      </li>
                    <li><a class="nav-link scrollto" href="/#contact">Kontakt</a></li>
            </ul>
              <i class="bi bi-list mobile-nav-toggle d-none"></i>
          </nav> 
          {% if request.user.is_authenticated %}
         
          <div id="parent">
            <a class="btn btn-getstarted" href="#"><span>Witaj! {{user.first_name}}</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <div id="hover-content">

                    <ul style="list-style-type: none;margin-left:0px;padding: 4px;">
                      <li class="py-2"><a href="{% url 'new_visit' %}"><i class="bi bi-plus-circle hover-icon"></i> Nowa wizyta</a></li>
                      <li class="py-2"><a href="{% url 'appointments' %}"><i class="bi bi-alarm hover-icon"></i> Umówione wizyty</a></li>
                      <li class="py-2"><a href="{% url 'history' %}"><i class="bi bi-card-list hover-icon"></i> Historia wizyt</a></li>
                      <li class="py-2"><a href="{% url 'profile' %}"><i class="bi bi-person-circle hover-icon"></i> Moje dane</a></li>
                        {% if user.username == 'lekarz' %}
                           <li class="py-2"><a href="{% url 'docschedule' %}"><i class="bi bi-gear hover-icon"></i> Administracja</a></li>
                        {% endif %}
                      <li class="py-2"><a href="/logout" style="color: firebrick;"><i class="bi bi-power hover-icon" style="color: firebrick;"></i> Wyloguj</a></li>
                    </ul>
              </div>
          </div>
          
  
    {% else %}
      <a class="btn-getstarted scrollto" href="/login">Twoje konto</a>
    {% endif %}
        </div>
      </header>
      <div style="margin-top: 150px;min-height: 400px;">

            {% block content %}

            {% endblock %}
         
      </div>
   <footer id="footer" class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>MegaVita</h3>
                <p> Stefana Batorego 3 <br>
                  75-660 Koszalin<br>
                  <br> <strong>Telefon:</strong>
                  +48 94 341 14 63<br>
                  <strong>Email:</strong>
                  <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a5cccbc3cae5c0ddc4c8d5c9c08bc6cac8">[email&#160;protected]</a>
                  <br>
                </p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Menu</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">O nas</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Aktualności</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Kontakt</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Polityka Prywatności</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Nasze usługi</h4>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Terapia manualna</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Laseroterapia</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Krioterapia</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Ziołolecznictwo</a></li>
                <li><i class="bi bi-chevron-right"></i> <a href="#">Magnetoterapia</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
              <form action="" method="post">
                <input type="email" name="email">
                <input type="submit" value="Subscribe">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-legal text-center">
        <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <div class="copyright"> &copy; Copyright <strong><span>MegaVita</span></strong>. Wszelkie prawa zastrzeżone</div>
            <div class="credits"> Realizacja <a href="https://ezcode.pl/">ezCode.pl</a>
            </div>
          </div>
          <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
            <a href="#" class="twitter">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="#" class="facebook">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="#" class="instagram">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="#" class="google-plus">
              <i class="bi bi-skype"></i>
            </a>
            <a href="#" class="linkedin">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>  
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script> 
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script> 
    <script src="assets/vendor/php-email-form/validate.js"></script>  
    <script src="{% static 'js/main.js' %}"></script> 
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-P7JSYB1CSP'></script>
    <script>
        if( window.self == window.top ) { window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-P7JSYB1CSP'); }
    </script>
    <script>
        var alertList = document.querySelectorAll('.alert')
        alertList.forEach(function (alert) {
          new bootstrap.Alert(alert)
        })
    </script>
</body>
</html>


