Django==5.2.1
asgiref==3.8.1
django-crispy-forms==2.4
mysqlclient==2.2.7
pip==24.0
pillow==11.2.1
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
captcha==0.7.1
django-tinymce==4.1.0
psycopg2==2.9.10
crispy-bootstrap4==2024.10
