<!-- appointments.html -->

{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container py-5">
        {% include 'vita/messages.html' %}
        <h2 style="color:#32AFC7">Umówione wizyty</h2>
        <div class="row" id="basic-table">
            <div class="col-12 col-md-6" style="padding:10px;">
                <div>
                    <div class="mt-5">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr class="bg-light">
                                        <th>Lp.</th>
                                        <th>Data</th>
                                        <th>Godz.</th>
                                        <th>Status</th>
                                        <th>Cel wizyty</th>
                                        <th>Gabinet</th>
                                        <th>Nr</th>
                                        <th>Akcja</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visit in visits_akt %}

                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td {% if visit.office == 1 %} style="background:#D1E5E8;" {% else %} style="background:#e5e8d1;" {% endif %} >{{ visit.date|date:"Y-m-d" }}</td>
                                            <td {% if visit.office == 1 %} style="background:#D1E5E8;" {% else %} style="background:#e5e8d1;" {% endif %} >{{ visit.time }}</td>
                                            <td class="col" {% if visit.office == 1 %} style="background:#D1E5E8;" {% else %} style="background:#e5e8d1;" {% endif %} >
                                                {% if visit.status == 1 %}
                                                    umówiona
                                                {% elif visit.status == 3 %}
                                                    odbyła się
                                                {% else %}
                                                    www
                                                {% endif %}
                                            </td>
                                            <td class="text-bold-500" {% if visit.office == 1 %} style="background:#D1E5E8;" {% else %} style="background:#e5e8d1;" {% endif %} >{{ visit.purpose_visit.purpose_name }}</td>
                                            <td {% if visit.office == 1 %} style="background:#D1E5E8;" {% else %} style="background:#e5e8d1;" {% endif %} >
                                                {% if visit.office == 1 %}
                                                    lekarski
                                                {% else %}
                                                    fizykoterapii
                                                {% endif %}
                                            </td>
                                            <td>{{ visit.visit }}</td>
                                            <td>
                                                <form action="{% url 'cancel_appointment' visit.id %}" method="post" style="display:inline;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="visit_id" value="{{ visit.id }}">
                                                    <input type="hidden" name="office" value="{{visit.office}}" />
                                                    <input type="submit" class="btn btn-sm btn-danger" value="odwołaj" />
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
