{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5">
    {% include 'vita/messages.html' %}
    <h2 style="color:#32AFC7">Umówione wizyty</h2>
    <div class="row" id="basic-table">
        <p>Data: {{ current_date }}</p>

{% for schedule in schedules %}
  <h3>{{ schedule.date }}</h3>
  <ul>
    {% for hour, status in schedule.availability.items %}
      <li>
        {{ hour }} -
        {% if status == 'available' %}
          <form method="post" action="{% url 'add_visit' %}">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ schedule.date }}">
            <input type="hidden" name="time" value="{{ hour }}">
            <button type="submit">Nowa wizyta</button>
          </form>
        {% else %}
          {% with appointments=schedule.visits_set.all %}
            {% with appointment_found=appointments|dictlookup:hour %}
              {% if appointment_found %}
                {{ appointment_found.status }}
                <form method="post" action="{% url 'delete_visit' %}">
                  {% csrf_token %}
                  <input type="hidden" name="visit_id" value="{{ appointment_found.id }}">
                  <button type="submit">Usuń wizytę</button>
                </form>
              {% else %}
                Brak wizyt
              {% endif %}
            {% endwith %}
          {% endwith %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}

    </div>
</div>
{% endblock %}