{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container py-5">
        {% include 'vita/messages.html' %}
            <h2 style="color:#32AFC7"> Nowa wizyta</h2>
        <div class="row mt-4">
            <div class="col text-center">
              <a href="doctor_visits">
                <div class="col-md-12 mb-5">
                    <div class="card bg-primary bg-gradient mb-3 text-center">
                        <div class="card-body text-light">
                           <p class="display-6">Gabinet lekarski</p>
                            <p><i>badanie, masaże, akupunktura</i></p>
                        </div>
                    </div>
                </div>
              </a>
            </div>
            <div class="col text-center">
              <a href="">
                <div class="col-md-12 mb-5">
                    <div class="card bg-success bg-gradient mb-3 text-center">
                        <div class="card-body text-light">
                           <p class="display-6">Gabinet fizykoterapii</p>
                            <p><i>masaże, zabiegi (magnetronic, lasery)</i></p>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
    </div>
{% endblock %}