{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5">
{% include 'vita/messages.html' %}
            <h2 style="color:#32AFC7"> Moje Dane - zmiana hasła</h2>
            <br>


        <form method="post">
            {% csrf_token %}
            <fieldset class="border p-4 rounded">
                {{ form|crispy }}
            </fieldset>
            <div class="mt-4">
                <button type="submit" class="btn btn-success">Zmień hasło</button>
                <a href="/patient/profile" role="button" class="btn btn-primary">Moje dane</a>
            </div>
        </form>
</div>
{% endblock %}