{% extends 'base1.html' %}
{% block title %} Password Reset {% endblock title%}
{% block content %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                              <h3 class="font-weight-light my-4 text-center">Zresetuj swoje hasło</h3>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group p-2">
                                                <label class="small mb-2 fw-bold" for="id_new_password1">Nowe hasło</label>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control" required id="id_new_password1"
                                                       placeholder="wpisz nowe hasło"/>
                                                <span>
                                                    <small id="hint_id_new_password1" class="form-text text-muted">
                                                        <ul>
                                                            <li>Twoje hasło nie może być zbyt podobne do twoich innych
                                                                danych osobistych.
                                                            </li>
                                                            <li>Twoje hasło musi zawierać co najmniej 8 znaków.</li
                                                            ><li>Twoje hasło nie może być powszechnie używanym hasłem.</li>
                                                            <li>Twoje hasło nie może składać się tylko z cyfr.</li>
                                                        </ul>
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group p-2">
                                                <label class="small mb-2 fw-bold" for="id_new_password2">Potwierdź nowe hasło</label>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="potwierdź hasło"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-3">
                                                <button type="submit" class="col-md-12 btn btn-success" id="reset">Zresetuj hasło</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        Link do resetowania hasła był nieprawidłowy, prawdopodobnie dlatego, że został już użyty.
                        Poproś o zresetowanie nowego hasła.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}