{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5">
{% include 'vita/messages.html' %}
            <h2 style="color:#32AFC7"> Moje Dane</h2>
            <br>
            <form method="POST" enctype="multipart/form-data">
                 {% csrf_token %}

                  <fieldset class="form-group">
                       <div class="row align-items-start">
                          <div class="col">{{ u_form|crispy }}</div>
                          <div class="col">{{ pe_form|crispy }}</div>
                       </div>

                  </fieldset>

                  <div class="form-group align-items-center">
                      <button class="btn btn-success" type="submit">Zapisz dane</button>
                      <a href="{% url 'password_change' %}" role="button" class="btn btn-primary">Zmień hasło</a>
                  </div>

              </form>

</div>
{% endblock %}