{% extends 'base1.html' %}
{% block content %}

{% load crispy_forms_tags %}

{% include 'vita/messages.html' %}
<div class="card mb-3 col-md-5 mx-auto">
    <div class="card-body">
        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Utwórz konto pacjenta</h5>
            <p class="text-center small">Wpisz swoje dane aby utworzyć konto</p>
        </div>
        <form class="row g-3 needs-validation" novalidate="" method="POST" action="{% url 'register_user' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {{ pp_form|crispy }}

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" name="terms_accepted" type="checkbox" value="true" id="acceptTerms" required="">
                    <label class="form-check-label" for="acceptTerms">Zgadzam się i akceptuję <a href="#">regulamin</a></label>
                    <div class="invalid-feedback">Musisz zaakceptować regulamin aby utworzyć konto.</div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Utwórz konto</button>
            </div>
            <div class="col-12"><p class="small mb-0">Masz już konto pacjęta? <a href="/login">Zaloguj się</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
