{% extends 'vita/panel/adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-2">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Dodaj nową wizytę do gabinetu lekarskiego</h3>
            </div>
        </div>
        <section class="section">

            <div class="card">
                 <script>
                    function swapConfig(x) {
                    var radioName = document.getElementsByName(x.name);
                    for(i = 0 ; i < radioName.length; i++){
                      document.getElementById(radioName[i].id.concat("Settings")).style.display="none";
                    }
                    document.getElementById(x.id.concat("Settings")).style.display="initial";
                  }
                </script>

                <div class="card-body">
                    <form class="row g-3 needs-validation" name="v_form" id="patient" novalidate="" method="POST" action="{% url 'create_new_visit' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form.errors }}
                    <div style="text-align:left;">
                        <input type="radio" onchange="swapConfig(this)" name="sf" id="production" value="0" checked="checked"/>
                        <label for="production">Pacjent figurujący w bazie danych</label>



                        <!-- Modal dla kolidującej wizyty -->
                        <div class="modal fade" id="existingVisitModal" tabindex="-1" aria-labelledby="existingVisitModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger">
                                        <h5 class="modal-title text-light" id="existingVisitModalLabel">Kolidująca wizyta</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <!-- Lewa kolumna (dane z istniejącej wizyty) -->
                                            <div >
                                                <h6>Dane istniejącej wizyty:</h6>
                                                <p><strong>Pacjent:</strong> <span id="existingPatientName"></span></p>
                                                <p><strong>Data wizyty:</strong> <span id="existingVisitDate"></span></p>
                                                <p><strong>Godzina wizyty:</strong> <span id="existingVisitTime"></span></p>
                                                <p><strong>Gabinet:</strong> <span id="existingOfficeName"></span></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer " style="margin-right: 25px;font-weight:bold;">
                                         <a role="button" class="btn btn-primary" href="/panel/{{ existing_visit_data.date|date:'Y-m-d' }}">Pokaż plan dzienny z kolidującą wizytą {{ existing_visit_data.date }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- HTML (Modal) -->

                        <script>
                                $(document).ready(function() {
                                    // Obsługa guzika "Dodaj wizytę"
                                    $('#addVisitButton').click(function() {
                                        // Ukryj modal
                                        $('#existingVisitModal').modal('hide');
                                    });

                                    // Obsługa guzika "Nie dodawaj wizyty"
                                    $('#closeModalButton').click(function() {
                                        $('#existingVisitModal').modal('hide');
                                        location.href = "/panel/create_new_visit"; // Reload the page when the modal is hidden
                                    });

                                    // Pokaż modal, jeśli istnieje kolidująca wizyta
                                    {% if existing_visit_data %}
                                        var existingVisitData = {
                                            patient_name: "{{ existing_visit_data.patient_name }}",
                                            date: "{{ existing_visit_data.date }}",
                                            time: "{{ existing_visit_data.time }}",
                                            office: "{{ existing_visit_data.office }}"  // Przyjmuję, że to jest identyfikator lub kod działu
                                        };

                                        // Funkcja do mapowania identyfikatora na nazwę
                                        function mapOfficeName(officeCode) {
                                            switch (officeCode) {
                                                case '1':
                                                    return 'Lekarski';
                                                case '2':
                                                    return 'Fizykoterapii';
                                                default:
                                                    return 'Inny';  // Możesz dodać obsługę innych wartości
                                            }
                                        }

                                        // Ustaw dane w modalu
                                        $('#existingPatientName').text(existingVisitData.patient_name);
                                        $('#existingVisitDate').text(existingVisitData.date);
                                        $('#existingVisitTime').text(existingVisitData.time);
                                        $('#existingOfficeName').text(mapOfficeName(existingVisitData.office));  // Użyj funkcji do ustawienia nazwy działu

                                        // Pokaż modal
                                        $('#existingVisitModal').modal('show');
                                    {% endif %}
                                });
                            </script>


                    </div>
                    <div id="productionSettings">
                        <p>
                            <div class="input-group flex-nowrap">
                              <span class="input-group-text" id="addon-wrapping">
                                 &#x2B9E;
                              </span>
                              <input type="text" id="person" name="person" class="form-control" placeholder="...wpisz nazwisko pacjenta" />
                              <input type="hidden" id="patientId" name="patient_id" value="" />
                            </div>
                        </p>
                    </div>
                    <div>
                        <input type="radio" onchange="swapConfig(this)" name="sf" id="development" value="1" />
                        <label for="development">Nowy pacjent stacjonarny</label>
                    </div>

                    <div id="developmentSettings" style="display:none">
                        <p>
                             {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}

                              <fieldset class="form-group">
                                   <div class="row align-items-start">
                                      <div class="col">
                                          {{ cform.first_name | as_crispy_field }}
                                          {{ cform.first_name.errors }}
                                          {{ cform.last_name | as_crispy_field }}
                                          {{ cp_form.street | as_crispy_field }}
                                      </div>
                                      <div class="col">
                                            {{ cp_form.city | as_crispy_field }}
                                           {{ cp_form.post_code | as_crispy_field }}
                                           {{ cp_form.phone | as_crispy_field }}
                                      </div>
                                   </div>
                              </fieldset>
                              <div>
                                      <input type="hidden" name="select_form" value="1" />
                                      <input type="hidden" name="username" value="{{user_x}}" />
                                      <input type="hidden" name="password1" value="haselko1" />
                                      <input type="hidden" name="password2" value="haselko1" />
                                      <input type="hidden" name="email" value="stacjonarny@megavita.pl" />

                              </div>
<!--                            </form>-->
                        </p>
                    </div>

                </div>
              <div style="background-color: #E6EEF5;width:100%;padding:5px;font-weight:bold;">&nbsp;&nbsp;Szczegóły wizyty</div>
                <p>
                  <div class="card-body">
                     <fieldset class="form-group">
<!--                            <form class="row g-3 needs-validation" id="visit" novalidate="" method="POST" action="{% url 'create_new_visit' %}" enctype="multipart/form-data">-->
<!--                              {% csrf_token %}-->

                                   <div class="row align-items-start">
                                       <div class="col">
                                            <label for="development">Data wizyty: </label>
                                           <input class="form-control" style="background:#ccfbf1;" type="text" id="visit_date" name="date" value="{{vd}}" />
                                       </div>
                                       <div class="col">
                                            <label for="development">Godzina wizyty: </label>
                                           <input class="form-control" style="background:#ccfbf1;" type="text" id="visit_time" name="time" value="{{vt}}" />
                                       </div>
                                        <div class="col">
                                            <label for="development">Cel wizyty: </label>
                                            <select name="purpose_visit" class="form-select">
                                                <option value="2">Masaż</option>
                                                <option value="1">Badanie</option>
                                                <option value="3">Masaż karnet</option>
                                                <option value="4">Akupunktura</option>
                                            </select>
                                       </div>
                                        <div class="col">
                                            <label for="development">Gabinet: </label>
                                            <input type="hidden" name="office" value="{{vo}}" />
                                            {% if vo == '1' %}
                                              <input class="form-control" style="background:#ccfbf1;" type="text" name="vo" value="gabinet lekarski" disabled/>
                                            {% else %}
                                              <input class="form-control" style="background:#ccfbf1;" type="text" name="vo" value="gabinet fizjoterapii" disabled/>
                                            {% endif %}
                                       </div>
                                   </div>
                                   <div class="row align-items-start p-4">
                                       <input type="submit" class="btn btn-success form-control"  value="Dodaj nową wizytę" />
                                   </div>
                         </form>
                     </fieldset>
                  </div>
                </p>

            </div>
        </section>
    </div>
    </div>

{% endblock %}