{% extends 'vita/panel/adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-2">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Terminarz gabinetu lekarskiego</h3>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
<!--                                <div class="card-header">-->
<!--                                    <h4 class="card-title">Example Content</h4>-->
<!--                                </div>-->

                <div class="card-body">

                  <form  method="POST" enctype="multipart/form-data">
                      {% csrf_token %}

                    <div class="row p-3 text-center">
                        {% include 'vita/messages.html' %}
                        <div class="text-center p-2">
                            <a role="button" class="btn btn-info" href='terminarz?month={{today.month}}&year={{btn_today}}'>{{ btn_today }}</a>
                            <a role="button" class="btn btn-info" href='terminarz?month={{today.month}}&year={{ btn_today_1 }}'>{{ btn_today_1 }}</a>
                            <a role="button" class="btn btn-info" href='terminarz?month={{today.month}}&year={{ btn_today_2 }}'>{{ btn_today_2 }}</a>
                        </div>
                        {% for nr, month in months.items %}
                              <div class="col text-center">
                                  {% if btn_y == btn_today_1 %}
                                     <a role="button" class="btn btn-primary p-2" href="terminarz?month={{nr}}&year={{btn_today_1}}">{{month|upper}}</a>
                                  {% elif btn_y == btn_today_2 %}
                                     <a role="button" class="btn btn-primary p-2" href="terminarz?month={{nr}}&year={{btn_today_2}}">{{month|upper}}</a>
                                  {% else %}
                                     <a role="button" class="btn btn-primary p-2" href="terminarz?month={{nr}}&year={{btn_today}}">{{month|upper}}</a>
                                  {% endif %}
                              </div>
                        {% endfor %}
                    </div>
                      <div class="table-responsive">
                           <table class="table table-striped table-sm">
                            <thead class="text-light" style="background: #26396F;">
                              <tr>
                                <th>Data</th>
                                <th class="text-center">Dzień pracy</th>
                                <th class="text-center">Godziny oficjalne</th>
                                <th class="text-center">Godziny pracy</th>
                                <th class="text-center">Przedział</th>
                                <th class="text-center">Ilość wizyt</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for day, d_name in date_list.items %}
                                       <tr>
                                         <td class="p-1">
                                            <a href="/panel/{{day}}">
                                               <b>{{ day }}</b> -
                                                 {% if d_name == 'Sobota' or d_name == 'Niedziela'  %}
                                                    <span class="text-danger">{{ d_name }}</span>
                                                 {% else %}
                                                    <span class="text-success">{{ d_name }}</span>
                                                 {% endif %}
                                            </a>
                                            <input type="hidden" name="data" value="{{day}}" />
                                         </td>
                                           <td class="p-1">
                                            <select name="day_type">
                                               {% if d_name == 'Sobota' or d_name == 'Niedziela'  %}
                                                    <option value="Wolny" selected>Wolny</option>
                                                    <option value="Pracujący">Pracujący</option>
                                                {% else %}
                                                    <option value="Pracujący" selected>Pracujący</option>
                                                    <option value="Wolny" >Wolny</option>
                                                {% endif %}
                                            </select>
                                        </td>
                                            {% if d_name == 'Sobota' or d_name == 'Niedziela'  %}
                                            <td class="p-1 text-center" ><input name="official_hours_start" type="hidden" value="08:00-19:00" /></td>
                                            <td class="p-1 text-center" ><input name="work_hours_start" type="hidden" value="08:00-21:00" /></td>
                                            <td class="p-1 text-center" >
                                                <select name="scheme" hidden>
                                                    <option value="10">10 min</option>
                                                    <option value="15">15 min</option>
                                                    <option value="20">20 min</option>
                                                    <option value="25">25 min</option>
                                                    <option value="30" selected>30 min</option>
                                                </select>
                                            </td>

                                           {% else %}
                                           <td class="p-1 text-center"><input name="official_hours_start" type="text" value="08:00-19:00" /></td>
                                            <td class="p-1 text-center"><input name="work_hours_start" type="text" value="08:00-21:00" /></td>
                                           <td class="p-1 text-center">
                                                <select name="scheme">
                                                    <option value="10">10 min</option>
                                                    <option value="15">15 min</option>
                                                    <option value="20">20 min</option>
                                                    <option value="25">25 min</option>
                                                    <option value="30" selected>30 min</option>
                                                </select>
                                           </td>
                                           {% endif %}
                                            <td class="p-1 text-center">0</td>

                                       </tr>

                                {% endfor %}


                            </tbody>
                        </table>
                      </div>
                    <div class="text-center"><input class="btn btn-success" type="submit" name="update_schedule" value="Uaktualnij terminarz" /></div>
                  </form>
                </div>

            </div>
        </section>

    </div>


{% endblock %}