{% extends 'vita/panel/adminbase.html' %}

{% load custom_filters %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container py-5">
    {% include 'vita/messages.html' %}
    <h5 style="color:#32AFC7">Wybierz wizytę lub wizyty</h5>
    <div class="row" id="basic-table">

        <div class="row mb-2" style="margin:0 auto;text-align:center;">
            <div class="col">
                {% if current_week_offset > 0 %}
                    <a href="{% url 'doctor_visits' offset=current_week_offset|add:'-1' %}" class="btn btn-primary text-light">Poprzedni tydzień</a>
                {% else %}
                    <a href="{% url 'doctor_visits' offset=0 %}" class="btn btn-primary text-light disabled">Poprzedni tydzień</a>
                {% endif %}
            </div>
            <div class="col"></div>
            <div class="col">
                <a href="{% url 'doctor_visits' offset=current_week_offset|add:'1' %}" class="btn btn-primary text-light">Następny tydzień</a>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Date / Day</th>
                <th>Morning</th>
                <th>Afternoon</th>
            </tr>
        </thead>
        <tbody>
            {% for day in week_days %}
                <tr>
                    <td>{{ day.date }} - {{ day.day_name }}</td>
                    <td>
                        {% for hour in day.h %}
                            {% if forloop.first or forloop.counter0|divisibleby:2 %}
                                {% if day.visits|get_item:hour %}
                                    {% with visit=day.visits|get_item:hour %}
                                        {{ visit.patient_first_name }} {{ visit.patient_last_name }} - {{ visit.purpose_visit }} ({{ visit.status }})
                                    {% endwith %}
                                {% else %}
                                    Free
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for hour in day.h %}
                            {% if not forloop.first and not forloop.counter0|divisibleby:2 %}
                                {% if day.visits|get_item:hour %}
                                    {% with visit=day.visits|get_item:hour %}
                                        {{ visit.patient_first_name }} {{ visit.patient_last_name }} - {{ visit.purpose_visit }} ({{ visit.status }})
                                    {% endwith %}
                                {% else %}
                                    Free
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}