{% extends 'vita/panel/adminbase.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-heading"">
    {% include 'vita/messages.html' %}
      <div class="page-title">
            <div class="row mb-2">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Plan tygodniowy gabinetu fizykoterapii</h3>
                </div>
            </div>
        </div>
    <div class="row" id="basic-table">

        <div class="row mb-2" style="margin:0 auto;text-align:center;">
            <div class="col">
                {% if current_week_offset > 0 %}
                    <a href="{% url 'fiz_weekly_plan' offset=current_week_offset|add:'-1' %}" class="btn btn-primary text-light">Poprzedni tydzień</a>
                {% else %}
                    <a href="{% url 'fiz_weekly_plan' offset=0 %}" class="btn btn-primary text-light disabled">Poprzedni tydzień</a>
                {% endif %}
            </div>
            <div class="col"></div>
            <div class="col">
                <a href="{% url 'fiz_weekly_plan' offset=current_week_offset|add:'1' %}" class="btn btn-primary text-light">Następny tydzień</a>
            </div>
        </div>
    </div>

    <div>

    <table class="table table-sm">
    <thead>
        <tr>
            {% for day in week_days|slice:":3" %}
             <th class="text-center text-light bg-primary"><a class="text-light" href="/panel/{{ day.date|date:'Y-m-d' }}"><i class="bi bi-eye"></i> {{ day.date|date:'Y-m-d' }}</a><br>  {{ day.date|date:'l' }}</th>
            {% endfor %}
        </tr>

    </thead>
    <tbody>
        <tr>
            {% for day in week_days|slice:":3" %}
                <td style="border:1px solid;vertical-align: text-top;">
                    <table class="table table-sm valign-top bg-light">
                        <thead>
                                <th>Godz.</th>
                                <th>Pacjent</th>
                                <th>Wizyta</th>
                                <th>Cel</th>
                                <th>Akcja</th>
                        </thead>
                        {% for hour in day.h %}
                            <tr>
                                <td>{{ hour }}</td>

                                {% if day.visits|get_item:hour %}
                                    {% with visit=day.visits|get_item:hour %}
                                        {% if visit.prupose_visit == "przerwa" %}
                                           <td>-</td>
                                         {% else %}
                                           <td class="text-bold-500 text-sm" ><a href="/panel/patients/{{visit.id_patient}}">{{ visit.patient_first_name }} {{ visit.patient_last_name }}</a></td>
                                          {% endif %}
                                        {% if visit.prupose_visit == "przerwa" %}
                                           <td>przerwa</td>
                                         {% else %}
                                            <td>
                                                {% if visit.status == '2' %}
                                                    ODWOŁANA
                                                {% elif visit.status == '3' %}
                                                    ODBYŁA SIĘ
                                                 {% elif visit.status == '4' %}
                                                    NIE ODBYŁA SIĘ
                                                {% elif visit.status == '5' %}
                                                    <select name="status" style="font-size:10px;">
                                                        <option value="1">UMÓWIONA</option>
                                                        <option value="2">ODBYŁA SIĘ</option>
                                                        <option value="3">NIE ODBYŁA SIĘ</option>
                                                        <option value="4">ODWOŁANA</option>
                                                        <option value="5" selected>WWW</option>
                                                        <option value="6">ODWOŁANA WWW</option>
                                                    </select>
                                                {% else %}
                                                    <select name="status" style="font-size:10px;">
                                                        <option value="1" selected>UMÓWIONA</option>
                                                        <option value="2">ODBYŁA SIĘ</option>
                                                        <option value="3">NIE ODBYŁA SIĘ</option>
                                                        <option value="4">ODWOŁANA</option>
                                                        <option value="5">WWW</option>
                                                        <option value="6">ODWOŁANA WWW</option>
                                                    </select>
                                                {% endif %}
                                            </td>
                                          {% endif %}
                                         <td class="text-bold-500 text-sm">{{ visit.prupose_visit }}</td>
                                         <td><button type="button" class="btn btn-sm btn-danger">X</button></td>
                                    {% endwith %}
                                {% else %}

                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="d-flex flex-row">
                                            <div class="row" style="padding-right: 3px;">
                                                <form novalidate="" method="POST" action="{% url 'create_visit' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="date" value="{{day.date|date:'Y-m-d'}}" />
                                                    <input type="hidden" name="time" value="{{hour}}" />
                                                    <input type="hidden" name="office" value="2" />
                                                    <input type="submit" class="btn btn-sm btn-success" value="+" />
                                                </form>
                                            </div>
                                            <div class="row">
                                                <form novalidate="" name="pause" method="POST" action="{% url 'pause_visit' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="date" value="{{day.date|date:'Y-m-d'}}" />
                                                    <input type="hidden" name="time" value="{{hour}}" />
                                                    <input type="hidden" name="office" value="2" />
                                                    <input type="submit" class="btn btn-sm btn-warning" style="color:#000;font-weight:bold;" value='||' />
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            {% endfor %}
        </tr>
        <br>
        <tr>
            {% for day in week_days|slice:"3:" %}
                <th class="text-center text-light bg-primary">{{ day.date|date:'Y-m-d' }} <br> {{ day.date|date:'l' }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for day in week_days|slice:"3:" %}
               <td style="border:1px solid;vertical-align: text-top;">
                    <table class="table table-sm valign-top bg-light">
                        <thead>
                                <th>Godz.</th>
                                <th class="text-center">Pacjent</th>
                                <th class="text-center">Wizyta</th>
                                <th class="text-center">Cel</th>
                                <th>Akcja</th>
                        </thead>
                        {% for hour in day.h %}
                            <tr>
                                <td>{{ hour }}</td>

                                {% if day.visits|get_item:hour %}
                                    {% with visit=day.visits|get_item:hour %}

                                <td class="text-bold-500 text-sm" ><a href="/panel/patients/{{visit.id_patient}}" >  {{ visit.patient_first_name }} {{ visit.patient_last_name }}</a></td>

                                        <td>
                                            {% if visit.status == '2' %}
                                                ODBYŁA SIĘ
                                            {% elif visit.status == '3' %}
                                                NIE ODBYŁA SIĘ
                                            {% elif visit.status == '5' %}
                                                <select name="status" style="font-size:12px;">
                                                    <option value="1">UMÓWIONA</option>
                                                    <option value="2">ODBYŁA SIĘ</option>
                                                    <option value="3">NIE ODBYŁA SIĘ</option>
                                                    <option value="4">ODWOŁANA</option>
                                                    <option value="5" selected>WWW</option>
                                                    <option value="6">ODWOŁANA WWW</option>
                                                </select>
                                            {% else %}
                                                <select name="status" style="font-size:12px;">
                                                    <option value="1" selected>UMÓWIONA</option>
                                                    <option value="2">ODBYŁA SIĘ</option>
                                                    <option value="3">NIE ODBYŁA SIĘ</option>
                                                    <option value="4">ODWOŁANA</option>
                                                    <option value="5">WWW</option>
                                                    <option value="6">ODWOŁANA WWW</option>
                                                </select>
                                            {% endif %}
                                        </td>
                                         <td>{{ visit.prupose_visit }}</td>
                                    {% endwith %}
                                {% else %}

                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                         <div class="d-flex flex-row">
                                            <div class="row" style="padding-right: 3px;">
                                                <form novalidate="" method="POST" action="{% url 'create_visit' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="date" value="{{day.date|date:'Y-m-d'}}" />
                                                    <input type="hidden" name="time" value="{{hour}}" />
                                                    <input type="hidden" name="office" value="2" />
                                                    <input type="submit" class="btn btn-sm btn-success" value="+" />
                                                </form>
                                            </div>
                                            <div class="row">
                                                <form novalidate="" name="pause" method="POST" action="{% url 'pause_visit' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="date" value="{{day.date|date:'Y-m-d'}}" />
                                                    <input type="hidden" name="time" value="{{hour}}" />
                                                    <input type="hidden" name="office" value="2" />
                                                    <input type="submit" class="btn btn-sm btn-warning" style="color:#000;font-weight:bold;" value='||' />
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
    </div>

</div>
{% endblock %}
