{% extends 'vita/panel/adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-2">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Nowy pacjent</h3>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
<!--                                <div class="card-header">-->
<!--                                    <h4 class="card-title">Example Content</h4>-->
<!--                                </div>-->

                <div class="card-body">
                        Dodaj nowego pacjenta
                </div>

            </div>
        </section>
    </div>


{% endblock %}