{% extends 'vita/panel/adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-heading">
        <div class="page-title">
            <div class="row mb-2">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Plan dzienny - {{ get_date }}</h3>
                </div>
                <div class="card-content">
                </div>
            </div>
        </div>
            <div style="margin-bottom:5px;">
                <div id="calendar-container" class="text-center">

                </div>
            </div>
          <section class="section">
            <div class="row" id="basic-table">
              <div class="col-12 col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Gabinet lekarski - GODZINY PRACY: 08:00-21:00  </h4>
                  </div>
                  <div class="card-content">
                    <div>
                      <div class="table-responsive">
                        <table class="table table-sm">
                          <thead>
                            <tr>
                                <th>Godz.</th>
                                <th>Pacjent</th>
                                <th>Wizyta</th>
                                <th>Nr</th>
                                <th>Cel</th>
                                <th>Akcja</th>
                            </tr>
                          </thead>
                            <div >
                                 {% if messages %}
                                    {% for message in messages %}
                                        {% if message.extra_tags == 'ds' %}
                                           <div class="container">
                                              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                {{ message }}
                                              </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                 {% endif %}
                           </div>
                          <tbody>
                                <tr><td scope="row" style="padding:10px;color:red;">{{ freeday }}</td></tr>
                                {% for hour, visit in visits.items %}

                                    {% if visit %}
                                       <tr>
                                         <td>{{ hour }}</td>
                                            {% if visit.status == 0 %}
                                               <td>-</td>
                                               <td>przerwa</td>
                                               <td>-</td>
                                            {% else %}
                                               <td class="text-bold-500 text-sm">
                                                 <a href="/panel/patients/{{visit.patient__id_patient}}" >{{visit.patient__user__first_name}} {{visit.patient__user__last_name}}</a>
                                               </td>
                                               <td>
                                                     <form method="post" action="{% url 'update_visit_status' visit.id %}">
                                                        {% csrf_token %}
                                                         {% if visit.status == 3 %}
                                                              <span>ODBYŁA SIĘ</span>
                                                         {% elif visit.status == 4 %}
                                                              <span>NIE ODBYŁA SIĘ</span>
                                                         {% else %}
                                                            <select name="status" style="font-size: 12px;" onchange="this.form.submit()">
                                                                {% for stv in status_visit %}
                                                                    <option value="{{ stv.id }}" {% if stv.id == visit.status %} selected {% endif %}>{{ stv.status_name|upper }}</option>
                                                                {% endfor %}
                                                            </select>
                                                         {% endif %}
                                                        <input type="hidden" name="visit_id" value="{{ visit.id }}">
                                                    </form>

                                               </td>
                                               <td>{{ visit.visit}}</td>
                                              {% endif %}
                                         <td class="text-bold-500">{{visit.prupose_visit__purpose_name}}</td>
                                         <td><button type="button" class="btn btn-sm btn-danger">Usuń</button></td>
                                     </tr>
                                    {% else %}
                                    <tr>
                                         <td>{{ hour }}</td>
                                         <td class="text-bold-500"></td>
                                         <td></td>
                                         <td></td>
                                         <td class="text-bold-500">{{visit.prupose_visit__purpose_name}}</td>
                                         <td>
                                           <div class="d-flex flex-row">

                                             <div class="row" style="padding-right: 3px;">
                                              <form novalidate="" method="POST" action="{% url 'create_visit' %}" enctype="multipart/form-data">
                                                 {% csrf_token %}
                                                  <input type="hidden" name="date" value="{{get_date}}" />
                                                  <input type="hidden" name="time" value="{{hour}}" />
                                                  <input type="hidden" name="office" value="1" />
                                                  <input type="submit" class="btn btn-sm btn-success"  value="Nowa wizyta" />

                                              </form>
                                             </div>
                                             <div class="row">
                                              <form  novalidate="" name="pause" method="POST" action="{% url 'pause_visit' %}" enctype="multipart/form-data">
                                                 {% csrf_token %}
                                                  <input type="hidden" name="date" value="{{get_date}}" />
                                                  <input type="hidden" name="time" value="{{hour}}" />
                                                  <input type="hidden" name="office" value="1" />
                                                  <input type="submit" class="btn btn-sm btn-info"  value="Przerwa" />

                                              </form>

                                             </div>
                                           </div>
                                         </td>
                                     </tr>
                                    {% endif %}
                                {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card">

                  <div class="card-header">
                    <h4 class="card-title">Gabinet fizykoterapii - GODZINY PRACY: 08:00-21:00  </h4>
                  </div>
                  <div class="card-content">
                    <!-- Table with no outer spacing -->
                    <div class="table-responsive">
                         <table class="table table-sm" id="df">
                          <thead>
                            <tr>
                                <th>Godz.</th>
                              <th>Pacjent</th>
                              <th>Wizyta</th>
                              <th>Nr</th>
                                <th>Cel</th>
                                <th>Akcja</th>
                            </tr>
                          </thead>
                             <div >
                                 {% if messages %}
                                    {% for message in messages %}
                                        {% if message.extra_tags == 'df' %}
                                           <div class="container">
                                              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                {{ message }}
                                              </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                 {% endif %}
                           </div>
                          <tbody>
                                <tr><td scope="row" style="padding:10px;color:red;">{{ freeday_f }}</td></tr>

                                {% for hour_f, visit_f in visits_f.items %}

                                    {% if visit_f %}
                                       <tr>
                                         <td>{{ hour_f }}</td>
                                            {% if visit_f.status == '0' %}
                                               <td>-</td>
                                               <td>przerwa</td>
                                               <td>-</td>
                                            {% else %}
                                               <td class="text-bold-500 text-sm">
                                                 <a href="/panel/patients/{{visit_f.patient__id_patient}}" >{{visit_f.patient__user__first_name}} {{visit_f.patient__user__last_name}}</a>
                                               </td>
                                               <td>
                                                    <form method="post" action="{% url 'update_visit_status' visit_f.id %}">
                                                        {% csrf_token %}
                                                        {% if visit_f.status == 3 %}
                                                            <span>ODBYŁA SIĘ</span>
                                                        {% elif visit_f.status == 4 %}
                                                            <span>NIE ODBYŁA SIĘ</span>
                                                        {% else %}
                                                            <select name="status_f" style="font-size: 12px;" onchange="this.form.submit()">
                                                                {% for stv_f in status_visit %}
                                                                    <option value="{{ stv_f.id }}" {% if stv_f.id == visit_f.status %} selected {% endif %}>{{ stv_f.status_name|upper }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        {% endif %}
                                                        <input type="hidden" name="visit_id_f" value="{{ visit_f.id }}">
                                                    </form>
                                               </td>
                                               <td>{{ visit_f.visit}}</td>
                                            {% endif %}
                                         <td class="text-bold-500">{{visit_f.prupose_visit__purpose_name}}</td>
                                         <td><button type="button" class="btn btn-sm btn-danger">Usuń</button></td>
                                     </tr>
                                    {% else %}
                                    <tr>
                                         <td>{{ hour_f }}</td>
                                         <td class="text-bold-500"></td>
                                         <td></td>
                                         <td></td>
                                         <td class="text-bold-500">{{visit_f.prupose_visit__purpose_name}}</td>
                                         <td>
                                           <div class="d-flex flex-row">

                                             <div class="row" style="padding-right: 3px;">
                                              <form novalidate="" method="POST" action="{% url 'create_visit' %}" enctype="multipart/form-data">
                                                 {% csrf_token %}
                                                  <input type="hidden" name="date" value="{{get_date}}" />
                                                  <input type="hidden" name="time" value="{{hour_f}}" />
                                                  <input type="hidden" name="office" value="2" />
                                                  <input type="submit" class="btn btn-sm btn-success"  value="Nowa wizyta" />

                                              </form>
                                             </div>
                                             <div class="row">
                                              <form  novalidate="" name="pause" method="POST" action="{% url 'pause_visit' %}" enctype="multipart/form-data">
                                                 {% csrf_token %}
                                                  <input type="hidden" name="date" value="{{get_date}}" />
                                                  <input type="hidden" name="time" value="{{hour_f}}" />
                                                  <input type="hidden" name="office" value="2" />
                                                  <input type="submit" class="btn btn-sm btn-info"  value="Przerwa" />

                                              </form>

                                             </div>
                                           </div>
                                         </td>
                                     </tr>
                                    {% endif %}
                                {% endfor %}

                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
  var calendarContainer = document.getElementById('calendar-container');
  var currentDate = new Date();

  renderCalendar(currentDate);

  function renderCalendar(date) {
    calendarContainer.innerHTML = '';

    var calendarTable = document.createElement('table');
   calendarTable.classList.add('text-sm');
    calendarTable.style.width = '15%';
    calendarTable.style.margin = '0 auto';
    calendarTable.style.marginTop = '-120px';

    var monthRow = calendarTable.createTHead().insertRow();
    var monthCell = document.createElement('th');
    monthCell.colSpan = 7;
    monthCell.textContent = getMonthName(date.getMonth()) + ' ' + date.getFullYear();
    monthCell.classList.add('text-center');
    monthRow.appendChild(monthCell);

    var daysOfWeek = ['Pon', 'Wt', 'Śr', 'Cz', 'Pt', 'So', 'Nd'];
    var daysRow = calendarTable.createTHead().insertRow();
    for (var i = 0; i < daysOfWeek.length; i++) {
      var dayCell = document.createElement('th');
      dayCell.textContent = daysOfWeek[i];

       // Dodawanie klasy do nagłówka tabeli
         dayCell.style.background = '#58CAEB';
         dayCell.style.color = '#000';

      daysRow.appendChild(dayCell);
    }

    var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
    var firstDayIndex = firstDay.getDay() === 0 ? 6 : firstDay.getDay() - 1;  // Indeks pierwszego dnia miesiąca w daysOfWeek
    var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);

    var today = new Date();  // Aktualna data

    var currentDay = new Date(firstDay);
    currentDay.setDate(currentDay.getDate() - firstDayIndex);  // Przesunięcie do poprzedniego poniedziałku
    while (currentDay <= lastDay) {
      var newRow = calendarTable.insertRow();

      for (var j = 0; j < 7; j++) {
        var newCell = newRow.insertCell();

        if (currentDay.getMonth() === date.getMonth()) {
          newCell.textContent = currentDay.getDate();
          newCell.addEventListener('click', function (event) {
            // Usuń klasę z poprzednio zaznaczonej komórki (jeśli istnieje)
            var selectedCell = calendarTable.querySelector('.selected-day');
            if (selectedCell) {
              selectedCell.classList.remove('selected-day');
            }

            // Dodaj klasę do aktualnie zaznaczonej komórki
            event.target.classList.add('selected-day');

            var clickedDate = new Date(date.getFullYear(), date.getMonth(), parseInt(event.target.textContent));
            handleDateClick(clickedDate);
          });

          if (isSameDay(currentDay, today)) {
            newCell.classList.add('current-day');
          }

          if (j >= 5) {
            newCell.classList.add('weekend');
          }

          newCell.classList.add('clickable');
        }

        currentDay.setDate(currentDay.getDate() + 1);
      }
    }

    calendarContainer.appendChild(calendarTable);

    var prevMonthButton = createButton('<', function () {
      date.setMonth(date.getMonth() - 1);
      renderCalendar(date);
    });

    var nextMonthButton = createButton('>', function () {
      date.setMonth(date.getMonth() + 1);
      renderCalendar(date);
    });

    var prevYearButton = createButton('<<', function () {
      date.setFullYear(date.getFullYear() - 1);
      renderCalendar(date);
    });

    var nextYearButton = createButton('>>', function () {
      date.setFullYear(date.getFullYear() + 1);
      renderCalendar(date);
    });

    calendarContainer.appendChild(prevMonthButton);
    calendarContainer.appendChild(nextMonthButton);
    calendarContainer.appendChild(prevYearButton);
    calendarContainer.appendChild(nextYearButton);
  }

  function handleDateClick(clickedDate) {
    var formattedDate = clickedDate.toISOString().split('T')[0];
    window.location.href = '/panel/' + clickedDate.getFullYear() + '-' + (clickedDate.getMonth() + 1) + '-' + clickedDate.getDate();
  }

  function createButton(text, clickHandler) {
    var button = document.createElement('button');
    button.textContent = text;
    button.classList.add('btn', 'btn-sm','mr-1');
    button.style.background='#58CAEB'
    button.style.color='#fff'
    button.addEventListener('click', clickHandler);
    return button;
  }

  function getMonthName(month) {
    var monthNames = ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'];
    return monthNames[month];
  }

  function isSameDay(date1, date2) {
    return date1.getFullYear() === date2.getFullYear() &&
           date1.getMonth() === date2.getMonth() &&
           date1.getDate() === date2.getDate();
  }
});

  </script>
{% endblock %}