{% extends 'vita/panel/adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="page-heading">
    <div class="page-title">
        <div class="row mb-2">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Szczegółowe dane pacjenta</h3>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">

            <div class="card-body">
                {% include 'vita/messages.html' %}

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Dane pacjenta
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="dokumentacja-tab" data-bs-toggle="tab" data-bs-target="#dokumentacja"
                                type="button" role="tab" aria-controls="dokumentacja" aria-selected="false">Dokumentacja
                        </button>
                    </li>
                   <li class="nav-item" role="presentation">
                        <button class="nav-link" id="grupy-tab" data-bs-toggle="tab" data-bs-target="#grupy"
                                type="button" role="tab" aria-controls="grupy" aria-selected="false">Grupy
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="wizyty-tab" data-bs-toggle="tab" data-bs-target="#wizyty"
                                type="button" role="tab" aria-controls="wizyty" aria-selected="false">Wizyty
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                      <form action="{% url 'update_patient' patient.id_patient %}"  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                        <div class="row p-2 mt-3 font-bold text-primary">
                            <div class="col">
                                <label>Nazwa użytkownika</label>
                                <input class="form-control" type="text" name="username" value="{{patient.user.username}}"/>
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                        <div class="row p-2 mt-3 font-bold">
                            <div class="col">
                                <label>Imię</label>
                                <input class="form-control" type="text" name="first_name"
                                       value="{{patient.user.first_name}}"/>
                            </div>
                            <div class="col">
                                <label>Nazwisko</label>
                                <input class="form-control" type="text" name="last_name"
                                       value="{{patient.user.last_name}}"/>
                            </div>
                            <div class="col">
                                <label>Adres</label>
                                <input class="form-control" type="text" name="street" value="{{patient.street}}"/>
                            </div>
                            <div class="col">
                                <label>Kod pocztowy</label>
                                <input class="form-control" type="text" name="post_code" value="{{patient.post_code}}"/>
                            </div>
                            <div class="col">
                                <label>Miejscowość</label>
                                <input class="form-control" type="text" name="city" value="{{patient.city}}"/>
                            </div>
                        </div>
                        <div class="row p-2 font-bold">
                            <div class="col">
                                <label>Telefon</label>
                                <input class="form-control" type="text" name="phone" value="{{patient.phone}}"/>
                            </div>
                            <div class="col">
                                <label>PESEL</label>
                                <input class="form-control" type="text" name="pesel" value="{{patient.pesel}}"/>
                            </div>
                            <div class="col">
                                <label>NIP</label>
                                <input class="form-control" type="text" name="nip" value="{{patient.nip}}"/>
                            </div>
                            <div class="col">
                                <label>Data urodzenia</label>
                                <input class="form-control" type="date" name="date_of_birth"
                                       value="{{patient.date_of_birth|date:'Y-m-d'}}"/>
                            </div>
                            <div class="col">
                                <label>Data utworzenia konta</label>
                                <input style="background:#ccfbf1;" class="form-control" type="text"
                                       value="{{patient.created_at|date:'Y-m-d'}}" disabled/>
                            </div>
                        </div>
                        <div class="row p-2 font-bold">
                            <div class="col">
                                <label>E-mail</label>
                                <input class="form-control" type="text" name="email" value="{{patient.user.email}}"/>
                            </div>
                            <div class="col">
                                <label>Województwo</label>
                                <input class="form-control" type="text" name="voivodeship"
                                       value="{{patient.voivodeship}}"/>
                            </div>
                            <div class="col">
                                <label>Powiat</label>
                                <input class="form-control" type="text" name="district" value="{{patient.district}}"/>
                            </div>
                            <div class="col">
                                <label>Miejsce urodzenia</label>
                                <input class="form-control" type="text" name="birthplace"
                                       value="{{patient.birthplace}}"/>
                            </div>
                            <div class="col">
                                <label>Płeć</label>
                                <select class="form-select" name="gender">
                                    {% if patient.gender == '0' %}
                                    <option value="0" selected>Kobieta</option>
                                    <option value="1">Mężczyzna</option>
                                    {% else %}
                                    <option value="0">Kobieta</option>
                                    <option value="1" selected>Mężczyzna</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="row p-2 font-bold">
                            <div class="col">
                                <label>Wykształcenie</label>
                                <input class="form-control" type="text" name="education" value="{{patient.education}}"/>
                            </div>
                            <div class="col">
                                <label>Stan cywilny</label>
                                <input class="form-control" type="text" name="marital_status"
                                       value="{{patient.marital_status}}"/>
                            </div>
                            <div class="col">
                                <label>Liczba dzieci</label>
                                <input class="form-control" type="text" name="number_of_children" value="{{patient.number_of_children}}"/>
                            </div>
                            <div class="col">
                                <label>Grupa krwi</label>
                                <input class="form-control" type="text" name="blood_group"
                                       value="{{patient.blood_group}}"/>
                            </div>
                            <div class="col">
                                <label>Opiekun</label>
                                 <input class="form-control" type="text" name="maintainer"
                                       value="{{patient.maintainer}}"/>
                            </div>
                        </div>
                        <div class="row p-2 font-bold text-primary">

                                 <div class="col">
                                    <label>Wybierz szablon notatki</label>

                                        <select class="form-select" name="template_patient" id="element_select">
                                            <option value="">------</option>
                                            {% for template in templates %}
                                                <option>{{template.contents}}</option>
                                            {% endfor %}
                                        </select>
                                 </div>

                        </div>
                        <div class="bg-primary text-light p-2 mt-2">Notatki ogólne</div>
                        <div>
                            <div>
                                <textarea class="form-control" style="height:200px;" type="text" name="notes"
                                          value="{{patient.notes}}"  id="my_textarea">{{patient.notes}}</textarea>
                                <script>
                                    tinymce.init({
                                        selector: 'textarea',
                                        plugins: 'a_tinymce_plugin',
                                        language: 'pl',
                                        height: 280,
                                        a_plugin_option: true,
                                        a_configuration_option: 400
                                    });

                                </script>
                                 <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        var selectElement = document.getElementById('element_select');
                                        var textareaElement = document.getElementById('my_textarea');

                                        selectElement.addEventListener('change', function() {
                                            var selectedElement = selectElement.options[selectElement.selectedIndex].text;

                                            // Dodaj przecinek i nowy element po obecnym tekście
                                            var newContent = textareaElement.value + (textareaElement.value.trim() !== '' ? ', ' : '') + selectedElement;

                                            // Ustaw nową zawartość w obszarze tekstowym
                                            textareaElement.value = newContent;

                                            // Zaktualizuj także zawartość TinyMCE
                                            tinymce.get('my_textarea').setContent(newContent);
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="bg-primary text-light p-2 mt-2">Notatki lekarza</div>
                        <div>
                            <textarea class="form-control" style="height:200px;" type="text" name="doctor_notes"
                                      value="{{patient.doctor_notes}}">{{patient.doctor_notes}}</textarea>
                        </div>
                        <div class="text-center p-2">
                            <input type="hidden" name="pk" value="{{patient.id_patient}}"/>

                            <input class="btn btn-success w-25" type="submit" name="update" value="Zapisz dane" />
                        </div>
                      </form>
                    </div>

                    <div class="tab-pane fade" id="dokumentacja" role="tabpanel" aria-labelledby="dokumentacja-tab">
                         <div class="p-4 text-left">
                              <div class="mb-4">Dokumenty - Zdjęcia - Badania - Opisy [ Dopuszczalne formaty plików: doc,docx, txt, pdf, jpg, png ]</div>
                             <form method="post"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>{{ form | crispy }}</div>
                                <input type="hidden" name="id" value="{{patient.id_patient}}"/>
                                <input class="btn btn-primary btn-md" role="button" type="submit" name="submit" value="Dodaj pliki do akt pacjenta">
                             </form>
                             {% include 'vita/panel/patients_files.html' %}
                         </div>
                    </div>
                    <div class="tab-pane fade" id="grupy" role="tabpanel" aria-labelledby="grupy-tab">

                    </div>
                    <div class="tab-pane fade" id="wizyty" role="tabpanel" aria-labelledby="wizyty-tab">

                            {% if x == 1 %}
                                     <div class="row" id="basic-table">
                                      <div class="col-12 col-md-6">
                                        <div class="card">
                                          <div class="card-header">
                                            <h4 class="card-title text-success">WIZYTY PACJENTA</h4>
                                          </div>
                                          <div class="card-content">
                                                <div class="table-responsive">
                                                    <table class="table table-sm">
                                                      <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Lp.</th>
                                                            <th>Data</th>
                                                            <th>Godz.</th>
                                                            <th>Status</th>
                                                            <th>Cel wizyty</th>
                                                            <th>Gabinet</th>
                                                            <th>Nr</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        {% for w in visits_akt %}
                                                          {% if w.status == '1' or w.status == '2' or w.status == '5' %}
                                                            <tr>
                                                                <td><input type="checkbox" /> </td>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ w.date|date:"Y-m-d" }}</td>
                                                                <td>{{ w.time }}</td>
                                                                <td class="col">
                                                                    {% if w.status == '1' %}
                                                                      <div><input type="radio" value="w.status" checked /> umówiona </div>
                                                                      <div><input type="radio" value="w.status" /> odwołana</div>
                                                                      <div><input type="radio" value="w.status" /> www</div>
                                                                      <div><input type="radio" value="w.status" /> odwołana www</div>
                                                                    {% elif w.status == '2' %}
                                                                        odbyła się
                                                                    {% else %}
                                                                        www
                                                                    {% endif %}
                                                                </td>
                                                                <td class="text-bold-500">{{w.prupose_visit__purpose_name}}</td>

                                                                <td> {% if w.office == 1 %} lekarski {% else %} fizykoterapii {% endif %}</td>
                                                                <td>{{ w.visit }}</td>
                                                            </tr>
                                                           {% endif %}
                                                        {% endfor %}

                                                      </tbody>
                                                    </table>
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-12 col-md-6">
                                        <div class="card">
                                          <div class="card-header">
                                            <h4 class="card-title text-danger">WIZYTY PACJENTA ODWOŁANE I KTÓRE SIĘ NIE ODBYŁY</h4>
                                          </div>
                                          <div class="card-content">
                                            <!-- Table with no outer spacing -->
                                            <div class="table-responsive">
                                                 <table class="table table-sm">
                                                      <thead>
                                                       <tr>
                                                            <th></th>
                                                            <th>Lp.</th>
                                                            <th>Data</th>
                                                            <th>Godz.</th>
                                                            <th>Status</th>
                                                            <th>Cel wizyty</th>
                                                            <th>Gabinet</th>
                                                            <th>Nr</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                           {% for w in visits_can %}
                                                           <tr>

                                                                <td><input type="checkbox" /> </td>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ w.date|date:"Y-m-d" }}</td>
                                                                <td>{{ w.time }}</td>
                                                                <td>{% if w.status == '3' %} odwołana {% elif w.status == '4' %} nie odbyła się {% elif w.status == '6' %} odwołana www {% else %} {{w.status}}{% endif %}</td>
                                                                <td class="text-bold-500">{{w.prupose_visit__purpose_name}}</td>

                                                                <td>{% if w.office == 1 %} lekarski {% else %} fizykoterapii {% endif %}</td>
                                                                <td>{{ w.visit }}</td>

                                                           </tr>
                                                           {% endfor %}
                                                      </tbody>
                                                </table>
                                            </div>
                                          </div>
                                        </div>
                                     </div>
                            {% else %}
                                         <div class="row" id="basic-table-f">
                                              <div class="col-12 col-md-6">
                                                <div class="card">
                                                  <div class="card-header">
                                                    <h4 class="card-title text-success">WIZYTY PACJENTA</h4>
                                                  </div>
                                                  <div class="card-content">
                                                        <div class="table-responsive">
                                                            <table class="table table-sm">
                                                              <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Lp.</th>
                                                                    <th>Data</th>
                                                                    <th>Godz.</th>
                                                                    <th>Status</th>
                                                                    <th>Cel wizyty</th>
                                                                    <th>Gabinet</th>
                                                                    <th>Nr</th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                {% for w in visits_akt_f %}
                                                                  {% if w.status == '1' or w.status == '2' or w.status == '5' %}
                                                                    <tr>
                                                                        <td><input type="checkbox" /> </td>
                                                                        <td>{{ forloop.counter }}</td>
                                                                        <td>{{ w.date|date:"Y-m-d" }}</td>
                                                                        <td>{{ w.time }}</td>
                                                                        <td class="col">
                                                                            {% if w.status == '1' %}
                                                                              <div><input type="radio" value="w.status" checked /> umówiona </div>
                                                                              <div><input type="radio" value="w.status" /> odwołana</div>
                                                                              <div><input type="radio" value="w.status" /> www</div>
                                                                              <div><input type="radio" value="w.status" /> odwołana www</div>
                                                                            {% elif w.status == '2' %}
                                                                                odbyła się
                                                                            {% elif w.status == '5' %}
                                                                               <div><input type="radio" value="w.status"/> umówiona </div>
                                                                               <div><input type="radio" value="w.status" /> odwołana</div>
                                                                               <div><input type="radio" value="w.status"  checked /> www</div>
                                                                               <div><input type="radio" value="w.status" /> odwołana www</div>
                                                                            {% endif %}
                                                                        </td>
                                                                        <td class="text-bold-500">{{w.prupose_visit__purpose_name}}</td>
                                                                        <td>{% if w.office == 1 %} lekarski {% else %} fizykoterapii {% endif %}</td>
                                                                        <td>{{ w.visit }}</td>
                                                                    </tr>
                                                                   {% endif %}
                                                                {% endfor %}

                                                              </tbody>
                                                            </table>
                                                             <div class="col-12 col-md-4" style="margin:0 auto; text-align:center;">
                                                                <input class="form-control btn btn-sm btn-success" type="submit" value="Zapisz zmiany" />
                                                             </div>
                                                        </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-12 col-md-6">
                                                <div class="card">
                                                  <div class="card-header">
                                                    <h4 class="card-title text-danger">WIZYTY PACJENTA ODWOŁANE I KTÓRE SIĘ NIE ODBYŁY</h4>
                                                  </div>
                                                  <div class="card-content">
                                                    <!-- Table with no outer spacing -->
                                                    <div class="table-responsive">
                                                         <table class="table table-sm">
                                                              <thead>
                                                               <tr>
                                                                    <th></th>
                                                                    <th>Lp.</th>
                                                                    <th>Data</th>
                                                                    <th>Godz.</th>
                                                                    <th>Status</th>
                                                                    <th>Cel wizyty</th>
                                                                    <th>Gabinet</th>
                                                                    <th>Nr</th>
                                                                </tr>
                                                              </thead>
                                                              <tbody>
                                                                   {% for w in visits_can_f %}
                                                                   <tr>

                                                                        <td></td>
                                                                        <td>{{ forloop.counter }}</td>
                                                                        <td>{{ w.date|date:"Y-m-d" }}</td>
                                                                        <td>{{ w.time }}</td>
                                                                        <td>{% if w.status == '3' %} odwołana {% elif w.status == '4' %} nie odbyła się {% elif w.status == '6' %} odwołana www {% else %} {{w.status}}{% endif %}</td>
                                                                        <td class="text-bold-500">{{w.prupose_visit__purpose_name}}</td>
                                                                        <td>{% if w.office == 1 %} lekarski {% else %} fizykoterapii {% endif %}</td>
                                                                        <td>{{ w.visit }}</td>

                                                                   </tr>
                                                                   {% endfor %}
                                                              </tbody>
                                                        </table>

                                                    </div>
                                                  </div>
                                                </div>
                                             </div>
                            {% endif %}
                    </div>
                </div>


            </div>


        </div>
    </section>
</div>


{% endblock %}