{% load crispy_forms_tags %}

<div class="row p-3">

    {% for file in all_files %}

    <div class="col-sm text-center">
        {% if file.ext == 'pdf' %}
          <a href="/vita/media/patient_files/{{patient.id_patient}}/{{file.files}}">
            <img src="/static/image/pdf.png" width="150" height="150"/>
          </a>
        {% else %}
          <a  data-fancybox href="/vita/media/patient_files/{{patient.id_patient}}/{{file.files}}">
            <img src="/vita/media/patient_files/{{patient.id_patient}}/{{file.files}}" width="150" height="150"/>
          </a>
        {% endif %}
        <p>{{file.files}}</p>
        <p class="p-2">
            <form action="{% url 'delete_patient_files' patient.id_patient %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{patient.id_patien}}" />
                <input type="hidden" name="file" value="{{file.files}}" />
                <input type="submit" class="btn btn-sm btn-danger" value="Usuń" />
            </form>
        </p>
    </div>

    {% endfor %}

</div>