{% extends 'vita/panel/adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-2">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Lista rezerwowa oczekujących pacjętów na wizytę</h3>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-body">
                     {% include 'vita/messages.html' %}
                     <div class="p-2"><a href="/panel/create_reserve_list" role="button" class="btn btn-success btn-sm">Dodaj nowy</a></div>
                     <div class="table-responsive">
                       <table class="table table-striped">
                         <thead class="text-light text-center" style="background: #26396F;">
                            <tr>
                              <th></th>
                              <th class="text-center">Lp.</th>
                              <th class="text-center">Data</th>
                              <th class="text-center">Godziny</th>
                              <th class="text-center">Pacjent</th>
                              <th class="text-center">Telefon</th>
                              <th class="text-center">Wizyta</th>
                              <th class="text-center">Priorytet</th>
                              <th class="text-center">Uwagi</th>
                              <th class="text-center">Dzwoniono</th>
                              <th class="text-center">Akcja</th>
                            </tr>
                         </thead>
                         <tbody>

                          {% for l in full_list %}
                            <tr>

                                 <td class="p-1 x-2 text-center">
                                   <input type="checkbox" />
                                </td>
                                 <td class="p-1 x-2 text-center">
                                    {{ forloop.counter }}
                                </td>
                                 <td class="p-1 x-2 text-center">
                                    {{ l.date|date:'Y-m-d' }}
                                </td>
                                 <td class="p-1 x-2 text-center">
                                     {{ l.time }}
                                </td>
                                 <td class="p-1 x-2 text-center">
                                     {{ l.patient.user.first_name }} {{ l.patient.user.last_name }}
                                </td>
                                 <td class="p-1 x-2 text-center">
                                    {{ l.patient.phone }}
                                </td>
                                 <td class="p-1 x-2 text-center">
                                    {{ l.visit }}
                                </td>
                                 <td class="p-1 x-2 text-center">

                                     {% if l.status_name == 'Pilne' %}
                                       <span class="text-danger font-bold">Pilne</span>
                                     {% else %}
                                       <span class="text-success font-bold">Zwykłe</span>
                                     {% endif %}
                                </td>
                                 <td class="p-1">
                                    {{ l.description }}
                                </td>
                                 <td class="text-center p-1">
                                    {{ l.call }}
                                </td>
                                 <td class="text-center p-1">
                                    <a role="button" class="btn btn-success btn-sm" href="/panel/edit_templates/{{template.id}}">Edytuj</a>
                                    <a role="button" href="/panel/delete_templates/{{template.id}}" class="btn btn-info btn-sm">Zadzwoń</a>
                                    <a role="button" href="/panel/delete_templates/{{template.id}}" class="btn btn-danger btn-sm">Usuń</a>
                                </td>

                            </tr>
                          {% endfor %}

                         </tbody>
                       </table>


                     </div>
                </div>

            </div>
        </section>
    </div>


{% endblock %}