{% extends 'vita/panel/adminbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-2">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Szablony notatek</h3>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-body">
                     {% include 'vita/messages.html' %}
                     <div class="p-2"><a href="/panel/create_templates" role="button" class="btn btn-success btn-sm">Dodaj nowy</a></div>
                     <div class="table-responsive">
                       <table class="table table-striped">
                         <thead class="text-light text-center" style="background: #26396F;">
                            <tr>
                              <th class="text-center">Nazwa</th>
                              <th class="text-center">Treść</th>
                              <th class="text-center">Status</th>
                              <th class="text-center">Akcja</th>
                            </tr>
                         </thead>
                         <tbody>
                            {% for template in get_templates %}
                            <tr>
                                 <td class="p-1 x-2">
                                    {{ template.name }}
                                </td>
                                 <td class="p-1">
                                    {{ template.contents }}
                                </td>
                                 <td class="text-center p-1">
                                    {% if template.status == 1 %}
                                       <span class="text-success font-bold">Aktywna</span>
                                    {% else %}
                                       <span class="text-danger font-bold">Nieaktywna</span>
                                    {% endif %}
                                </td>
                                 <td class="text-center p-1">
                                    <a role="button" class="btn btn-success btn-sm" href="/panel/edit_templates/{{template.id}}">Edytuj</a>
                                    <a role="button" href="/panel/delete_templates/{{template.id}}" class="btn btn-danger btn-sm">Usuń </a>
                                </td>

                            </tr>

                            {% endfor %}
                         </tbody>
                       </table>


                     </div>
                </div>

            </div>
        </section>
    </div>


{% endblock %}